<a href="https://colab.research.google.com/github/MAAR341/CyP1157/blob/main/FundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

14 de octubre de 2021

In [ ]:
nombre = "Jose" # Tipo de dato String (cadena de caracteres)

print ( nombre )

Jose

# Tipos de dato en Python

- str --> String cadena de caracteres.
- int --> Números enteros
- float --> Números con notación de punto flotante
- complex --> números complejos
- bool --> Booleano (True or False)
- byte --> 8 bits

### Tipos de datos estructurados (compuestos)

- list --> Listas (Arreglos en otro lenguaje)
- tuple --> listas no mutables
- dict --> Diccionarios
- set y frozenset --> Conjuntos

In [ ]:
import sys
edad = 19 
print ("Tu edad es" ,edad) # al final de una línea de código
# este es un comentario de linea simple

"""
comentario de multiple línea
En lenguaje C, C++ y Java el comentario de multiple línea es con 

/*........*/

En lenguaje C, C++ y Java el comentario de una sola línea es 

//

Aquí puedes explicar en prosa el segmento de un código para futura referencÍa
"""

# Tipo de dato numerico int y float 

print (sys.getsizeof (edad))
# el tipo de dato int utiliza diferente cantidad de bits segun el lenguaje de programación.
edad = edad + 1

print (edad)

estatura = 1.56
print (estatura)
print (sys.getsizeof (estatura))
estatura = estatura + 0.1
print ( round(estatura, 2) )

edad += 1 # edad = edad + 1
print ("Tu edad es" ,edad) 

edad -= 1
print ("Tu edad es" ,edad)

edad += 1 # edad = edad + 1
edad /= 2 
print ("La mitad de tu edad es" ,edad)

edad = 21
# volver a calcular la mitad de la edad pero solo dejar la parte entera
edad = edad // 2
print ("La mitad de tu edad es" ,edad)

número = edad / 2.0
print (número)

número = número * 3
print (número)

número = 5.0
número = número ** 2 #no tiene simplificación en otros lenguajes (número **= 2)
print (número)

Tu edad es 19
28
20
1.56
24
1.66
Tu edad es 21
Tu edad es 20
La mitad de tu edad es 10.5
La mitad de tu edad es 10
5.0
15.0
25.0

In [ ]:
#operador modulo
número = 21
print ( número / 2 )
print ( número // 2 )

#el operador modulo da como resultado el residuo de una división
print (número % 2)

número = 24
print ("Residuo de 24 entre 5 es:" ,número % 5)

#operadores relacionales (logicos)
print (número % 2 == 0)

#diferencia
print ("24 es diferente de 23:" ,número != 23)

print ("24 es mayor que 23:" ,número > 23)

print ("24 es menor que 23:" ,número < 23)

print ("24 es mayor o igual que 24:" ,número >= 24)

print ("24 es menor o igual que 23:" ,número <= 23)

10.5
10
1
Residuo de 24 entre 5 es: 4
True
24 es diferente de 23: True
24 es mayor que 23: True
24 es menor que 23: False
24 es mayor o igual que 24: True
24 es menor o igual que 23: False

In [ ]:
#primero hay que ver como se define una variable str

nombre = "Jose"
carrera = "Ingeniería en computación"
frase = """El conocimiento
me persigue,....
pero
yo soy más rapido"""
print ( nombre )
print ( carrera )
print ( frase )

# type muestra el tipo de dato de una variable
print ( type(nombre))

paterno = str ("Perez")
print (paterno)

Jose
Ingeniería en computación
El conocimiento
me persigue,....
pero
yo soy más rapido
<class 'str'>
Perez

Una clase (class) es un tipo de dato compuesto.

In [ ]:
carrera = "Ingeniería en computación"
print ( carrera )
print ( carrera [2] )

# A la sintaxis escrita para elegir un elemento de un grupo de datos se le llama selector
en el caso de Strings y listas (lst) se usan los caracteres ["y"]

1. En todos los lenguajes todos los arreglos empiezan en 0
2. en python no existen como tal el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo en la mayoria de lenguajes.
4. En python se acepta el indexado negativo, en otros lenguajes NO.

In [5]:
carrera = "Ingeniería en computación"
print ( carrera [8] )
print ( carrera[24] )
print ( carrera[-1] )
print ( carrera[-25] )


#Adelantando el tema ciclo FOR
for letra in carrera:
  print ( "-->", letra ,"<--")

í
n
n
I
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> í <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> ó <--
--> n <--

#Slicing (rebanado) de cadenas
Permite seleccionar subcadenas con el operador 
### [ inicio : stop : incremento ]
El stop no se incluye, por ello se debe agregar una posición extra.
### Slicing y valores por defecto
inicio por defecto sera 0
stop: tamaño del arreglo (indexado positivo)
0 (en un indexado negativo)
incremento 1 (indexado positivo)

In [15]:
carrera = "Ingeniería en computación"
print ( carrera[0:10:1] )
print ( carrera[14:25:1] )
#lo mismo pero en indexado negativo ??
print ( carrera[-11:-1:1] )
print ( carrera[:10:] )
print ( carrera[14:25:] )
print ( carrera[-11: :1] )
#solución previa
print ("-------")
print ( carrera[-11:-1:1] )
print ( carrera[-11: :1] )

#un ejercicio mas para ver el inccremento
print ( carrera[0:10:2] )
print ( carrera[-1:-12:-2] )
print ( carrera[25:13:-1] )

Ingeniería
computación
computació
Ingeniería
computación
computación
-------
computació
computación
Igneí
niaumc
nóicatupmoc

# String y sus metodos
# Todos los tipos de dato en python son objetos (CLASES de la POO)
### Lo cual significa que tiene atributos y metodos
## dir () y help () funciones para ayuda del lenguaje python
## dir muestra las funciones de un tipo de dato como resumen
## help muestra a detalle
Metodo que inician con doble guion bajo son privados de uso interno y no deberiamos usarlos.
Todos los demas son para uso externo (usuario).

In [47]:
frutas= "  limon , fresa , manzana , aguacate  "  
nombre= "jose"
print ( frutas )
dir ( frutas )

print ( nombre.capitalize() )
print ( nombre.upper() )
print ( frutas.replace( "a" , "4" ).replace("e","3").upper() )
frutas=  frutas.replace( "a" , "4" ).replace("e","3").upper()
print (frutas)
print ("-------------")
frutas= "  limon , fresa , manzana , aguacate  "  
print ( frutas.strip() )
print (frutas.split(","))
print(frutas.index("n"))
dir (str)

  limon , fresa , manzana , aguacate
Jose
JOSE
  LIMON , FR3S4 , M4NZ4N4 , 4GU4C4T3
  LIMON , FR3S4 , M4NZ4N4 , 4GU4C4T3
-------------
limon , fresa , manzana , aguacate
['  limon ', ' fresa ', ' manzana ', ' aguacate  ']
6

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# String y caracteres de escape
- \" -->"
- \' -->"
- \n --> Salto de linea (tecla enter)
- \t --> Tabulador de espacios a la izquierda
- \uxxx --> Caracteres unicode
- \Uxxxxxxx --> unicode extendido

In [53]:
print (" \"jose\" ")
nombre= " \"jose\" "
print (nombre) 
carrera = "Ingeniería \n\ten \n\t\tComputación"
print (carrera)

 "jose"
 "jose"
Ingeniería
	en
		Computación